/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* === font === */
    --ff-open-sans: 'Open Sans', sans-serif;
    --fw-os-reg: 400;
    --fw-os-med: 700;
    /* headings, Call-to-actions, header navigation */
    --ff-raleway: 'Raleway', sans-serif;
    --fw-ral-reg: 400;
    --fw-ral-med: 700;
    --fs: 0.875rem;

    /* === color === */
    /* intro and email background */
    --light-bg: hsl(217, 28%, 15%);
    /* main background */
    --main-bg: hsl(218, 28%, 13%);
    /* footer background */
    --footer-bg: hsl(216, 53%, 9%);
    /* testimonials background */
    --review-bg: hsl(219, 30%, 18%);
    /* button gradient */
    --btn-grad: linear-gradient(90deg
    hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    /* email error text */
    --error-txt: hsl(0, 100%, 63%);
    /* full white */
    --main-txt: hsl(0, 0%, 100%);
}

/* ====== Style ====== */
body {
    font-family: var(--ff-open-sans);
    background-color: var(--light-bg);
}

/* ====== Navigation bar ====== */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
}

.logo {
    max-width: 5rem;
    height: 100%;
}

.nav-options {
    font-family: var(--ff-raleway);
    display: flex;
    gap: 1.5rem;
}

.nav-options a {
    color: var(--main-txt);
    text-decoration: none;
    font-size: 0.75rem;
}

/* ====== Main ====== */
.main-container {
    background-color: var(--main-bg);
}

.sr-title {
    color: var(--main-txt);
    position: absolute;
    opacity: 0;
}

/* ====== Intro ====== */
.intro {
    text-align: center;
    color: var(--main-txt);
    margin-inline: 2rem;
}

.illustration-intro {
margin-block: 3rem;
}

.wave-mobile {
    position: absolute;
    z-index: -1;
    top: -2rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.intro-title {
    font-family: var(--ff-raleway);
    font-weight: var(--fw-ral-med);
    background-color: var(--main-bg);
}