@media screen and (min-width: 1024px) {
    body {

        /* ======Navigation====== */
        .navigation {
            padding-block: 4.5rem;
            padding-inline: 5rem;
        }

        .nav-logo {
            max-width: unset;
        }

        .nav-options {
            gap: 3.5rem;
            font-size: 1rem;
        }

        /* ======Intro====== */
        .intro {
            gap: 2rem;

            .illustration {
                padding-inline: unset;
            }

            .text {
                gap: 2rem;
                max-width: 45rem;
                padding-inline: 1rem;

                .title {
                    font-size: 2.5rem;
                }

                .desc {
                    font-size: 1.25rem;
                    padding-inline: 2.5rem;
                }
            }

            .get-started {
                font-size: 1rem;
                padding-inline: 6rem;
                padding-block: 1rem;
            }

            .wave {
                position: absolute;
                bottom: -12rem;
                z-index: -1;
            }
        }

        /* ====== Features ====== */
        .features {
            max-width: 60rem;
            margin-inline: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 5.5rem;
            column-gap: 6rem;
            margin-block: 10rem;

            .access,
            .security,
            .real-time,
            .store {
                display: grid;
                gap: 2rem;

                &:nth-child(2) .icon {
                    max-width: unset;
                }

                .icon {
                    max-width: unset;
                    margin: auto auto;
                }

                .text {
                    display: grid;
                    gap: unset;

                    .title {
                        font-family: var(--ff-raleway);
                    }

                    .desc {
                        font-size: var(--base-fs);
                    }
                }


            }
        }

        /* ====== Stay productive ====== */
        .stay-productive {
            grid-template-columns: 1fr 1fr;
            margin-inline: auto;
            gap: 3.5rem;

            .illustration-productive {
                padding-inline: unset;
                margin-inline-start: auto;
            }

            .text {
                margin-inline-end: 5rem;

                .title {
                    margin-inline: unset;
                    font-size: 2.5rem;
                    margin-inline-end: 15rem;
                }

                .desc-one,
                .desc-two,
                .see-how {
                    font-size: 1rem;
                    margin-inline-end: 9rem ;
                }

                .see-how {

                    .desc {
                        font-size: unset;
                    }
                }
            }
        }

        /* ====== Testimonials ====== */
        .testimonials {
            gap: 2rem;
            grid-template-columns: repeat(3, 20rem);

            .review {
                margin-inline: unset;
                padding-top: 2rem;

                & > .icon {
                    max-width: unset;
                    top: -2.25rem;
                    left: -0.5rem;
                }

                .desc {
                    font-size: var(--base-fs);
                }
            }
        }

        /* ====== Get early access ====== */
        .get-ea {
            max-width: 54rem;
            margin-inline: auto;
            padding-block: 3rem 2.5rem;
            padding-inline: 4.5rem;
            gap: 2.5rem;
            top: 7rem;

            .text {
                gap: 1rem;

                .title {
                    font-size: 2rem;
                }
            }

            .email-form {
                display: flex;

                .input-box {
                    flex: 2.5;

                    #email {
                        padding-inline-start: 2.5rem;
    
                        &::placeholder {
                            font-size: 0.75rem;
                        }
                    }
    
                    .error {
                        color: var(--error-txt);
                        font-size: 0.75rem;
                        margin-inline: 2.5rem;
                    }
                }

                .get-started {
                    font-size: 0.875rem;
                    padding-inline: 2rem;
                }
            }
        }

    }
}