@media screen and (min-width: 1440px) {
    body {

        /* ======Navigation====== */
        .navigation {
            padding-block: 4.5rem;
            padding-inline: 5rem;
        }

        .nav-logo {
            max-width: unset;
        }

        .nav-options {
            gap: 3.5rem;
            font-size: 1rem;
        }

        /* ======Intro====== */
        .intro {
            gap: 2rem;

            .illustration {
                padding: unset;
            }

            .text {
                gap: 2rem;
                max-width: 45rem;
                padding-inline: 1rem;

                .title {
                    font-size: 2.5rem;
                }

                .desc {
                    font-size: 1.25rem;
                    padding-inline: 2.5rem;
                }
            }

            .get-started {
                font-size: 1rem;
                padding-inline: 6rem;
                padding-block: 1rem;
            }

            .wave {
                position: absolute;
                bottom: -12rem;
                z-index: -1;
            }
        }

        /* ====== Features ====== */
        .features {
            max-width: 60rem;
            margin-inline: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 5.5rem;
            column-gap: 6rem;
            margin-block: 10rem;

            .access,
            .security,
            .real-time,
            .store {
                display: grid;
                gap: 2rem;

                &:nth-child(2) .icon {
                    max-width: unset;
                }

                .icon {
                    max-width: unset;
                    margin: auto auto;
                }

                .text {
                    display: grid;
                    gap: unset;

                    .title {
                        font-family: var(--ff-raleway);
                    }

                    .desc {
                        font-size: var(--base-fs);
                    }
                }


            }
        }

        /* ====== Stay productive ====== */
        .stay-productive {
            grid-template-columns: 1fr 1fr;
            margin-inline: auto;
            gap: 3.5rem;

            .illustration-productive {
                padding-inline: unset;
                margin-inline-start: auto;
            }

            .text {
                margin-inline-end: 5rem;

                .title {
                    margin-inline: unset;
                    font-size: 2.5rem;
                    margin-inline-end: 15rem;
                }

                .desc-one,
                .desc-two,
                .see-how {
                    font-size: 1rem;
                    margin-inline-end: 9rem ;
                }

                .see-how {

                    .desc {
                        font-size: unset;
                    }
                }
            }
        }

        /* ====== Testimonials ====== */
        .testimonials {
            gap: 2.5rem;
            grid-template-columns: repeat(3, 22rem);
            padding-block: 0 5rem;

            .review {
                margin-inline: unset;
                padding-top: 2rem;

                & > .icon {
                    max-width: unset;
                    top: -2.25rem;
                    left: -0.5rem;
                }

                .desc {
                    font-size: 0.875rem;
                }
            }
        }

        /* ====== Get early access ====== */
        .get-ea {
            max-width: 54rem;
            margin-inline: auto;
            padding-block: 2.5rem 1rem;
            padding-inline: 4.5rem;
            gap: 2.5rem;
            top: 7.5rem;

            .text {
                gap: 1rem;

                .title {
                    font-size: 2rem;
                }

                .desc {
                    padding-inline: 2rem;
                }
            }

            .email-form {
                display: grid;
                column-gap: 1.5rem;
                grid-template-columns: 2.5fr 1fr;
                grid-template-rows: 1fr 0.5fr;

                #email {
                    padding-inline-start: 2.5rem;
                    grid-row: 1;
                    grid-column: 1/2;

                    &::placeholder {
                        font-size: 0.75rem;
                    }
                }

                .error {
                    grid-row: 2;
                    color: var(--error-txt);
                    font-size: 0.75rem;
                    margin-inline: 2.5rem;
                    padding-block: 0.25rem;
                    text-align: left;
                }

                .get-started {
                    font-size: 0.875rem;
                    padding-inline: 2rem;
                    width: fit-content;
                }
            }
        }

        /* ====== Footer ====== */
        .footer {
            gap: 2rem;
            margin-inline: auto;
            place-content: center;
            padding-block: 12.5rem 5.5rem;

            .logo {
                padding-inline: unset;
            }

            .footer-content {
                display: flex;
                align-items: start;
                gap: 8.5rem;
                width: fit-content;

                /* ====== More info ====== */
                .info {
                    display: flex;
                    max-width: 40rem;
                    gap: 5.5rem;
                }
            }    

            /* ====== Redirect links ====== */
            .redirect {
                display: flex;
                gap: 3rem;

                ul {
                    height: fit-content;
                }
            }

            /* ====== Social ====== */
            .social {
                gap: 1rem;
                font-size: 1rem;
                
                div {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

    }
}