/* ====== Font families ====== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
  /* ====== Colors ====== */
  /* top nav, illustration and bottom sign up background */
  --intro-sign-bg: hsl(217, 28%, 15%);
  /* main background */
  --main-bg: hsl(218, 28%, 13%);
  /* footer background */
  --footer-bg: hsl(216, 53%, 9%);
  /* testimonials background */
  --test-bg: hsl(219, 30%, 18%);
  /* get-started-for-free button */
  --btn-grad: linear-gradient(90deg,
  hsl(176, 68%, 64%),
  hsl(198, 60%, 50%));
  /* email error text */
  --error-txt: hsl(0, 100%, 63%);
  /* whole text */
  --main-txt: hsl(0, 0%, 100%);
  /* ====== Fonts ====== */
  /* base font size for desktop view */
  --base-fs: 0.875rem;
  /* font family for body text */
  --ff-open-sans: "Open Sans", sans-serif;
  /* font family for headings, call-to-actions, header Navigation */
  --ff-raleway: "Raleway", sans-serif;
  /* fonts share the same weights */
  --fw-reg: 400;
  --fw-med: 700;
}

@media screen and (min-width: 700px) {
  body {
    /* ======Navigation====== */
    /* ======Intro====== */
  }
  body .navigation {
    padding-block: 4.5rem;
    padding-inline: 5rem;
  }
  body .nav-logo {
    max-width: unset;
  }
  body .nav-options {
    gap: 3.5rem;
    font-size: 1rem;
  }
  body .intro {
    gap: 2rem;
    max-width: 45rem;
    margin-inline: auto;
  }
  body .intro .illustration {
    padding-inline: unset;
  }
  body .intro .text {
    gap: 2rem;
  }
  body .intro .text .title {
    font-size: 2.5rem;
  }
  body .intro .text .desc {
    font-size: 1.25rem;
    padding-inline: 3rem;
  }
  body .intro .get-started {
    font-size: 1rem;
    padding-inline: 6rem;
    padding-block: 1rem;
  }
}
body {
  font-family: var(--ff-open-sans);
  background-color: var(--intro-sign-bg);
}

.sr-title {
  position: absolute;
  opacity: 0;
}

/* ======Navigation====== */
.navigation {
  font-family: var(--ff-raleway);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav-logo {
  max-width: 5rem;
}

.nav-options {
  display: flex;
  gap: 1.5rem;
  font-size: 0.75rem;
}
.nav-options a {
  text-decoration: none;
  color: var(--main-txt);
}

/* ======Main====== */
.main-cont {
  margin-inline: 1.5rem;
}

/* ======Intro====== */
.intro {
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--main-txt);
  gap: 2rem;
  background-image: url(images/bg-curvy-mobile.svg);
}
.intro .illustration {
  padding-inline: 1.5rem;
}
.intro .text {
  display: grid;
  gap: 1rem;
}
.intro .text .title {
  font-family: var(--ff-raleway);
}
.intro .text .desc {
  font-size: var(--base-fs);
}
.intro .get-started {
  color: var(--main-txt);
  font-family: var(--ff-raleway);
  font-size: var(--base-fs);
  font-weight: var(--fw-med);
  background: var(--btn-grad);
  border: none;
  border-radius: 100vw;
  padding-inline: 5rem;
  padding-block: 0.75rem;
}/*# sourceMappingURL=style.css.map */