@use "reset";
@use "customProperties";
@use "desktopView";

body {
    font-family: var(--ff-open-sans);
    background-color: var(--intro-sign-bg);
}

.sr-title {
    position: absolute;
    opacity: 0;
}

/* ======Navigation====== */
.navigation {
    font-family: var(--ff-raleway);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.nav-logo {
    max-width: 5rem;
}

.nav-options {
    display: flex;
    gap: 1.5rem;
    font-size: 0.75rem;

    a {
        text-decoration: none;
        color: var(--main-txt);
    }
}

/* ======Intro====== */
.intro {
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    color: var(--main-txt);
    gap: 2rem;
    background-image: url(images/bg-curvy-mobile.svg);

    .illustration {
        padding: 1.5rem;
    }

    .text {
        display: grid;
        gap: 1rem;
        padding-inline: 1.5rem;

        .title {
            font-family: var(--ff-raleway);
        }

        .desc {
            font-size: var(--base-fs);
            padding-inline: 1rem;
        }
    }

    .get-started {
        color: var(--main-txt);
        font-family: var(--ff-raleway);
        font-size: var(--base-fs);
        font-weight: var(--fw-med);
        background: var(--btn-grad);
        border: none;
        border-radius: 100vw;
        padding-inline: 5rem;
        padding-block: 0.75rem;
    }

    .wave {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

/* ====== Content ====== */
.content {
    background-color: var(--main-bg);
}

/* ====== Features ====== */
.features {
    display: grid;
    color: var(--main-txt);
    text-align: center;
    gap: 5.5rem;

    .access,
    .security,
    .real-time,
    .store {
        display: grid;
        gap: 2rem;
        padding-inline: 1.75rem;

        &:nth-child(2) .icon {
            max-width: 3.5rem;
        }

        .icon {
            max-width: 4rem;
            margin-inline: auto;
        }

        .text {
            display: grid;
            gap: 1rem;

            .title {
                font-family: var(--ff-raleway);
            }

            .desc {
                font-size: var(--base-fs);
            }
        }
    }
}

/* ====== Stay productive ====== */
.stay-productive {
    display: grid;
    place-items: center;
    row-gap: 2.5rem;
    color: var(--main-txt);
    padding-inline: 1.5rem;
    margin-block: 10rem;

    .illustration-productive {
        padding-inline: 0.5rem;
    }

    .text {
        display: grid;
        row-gap: 1rem;

        .title {
            font-family: var(--ff-raleway);
            margin-inline: 0.5rem;
        }

        .desc-one,
        .desc-two,
        .see-how {
            font-size: var(--base-fs);
        }

        .see-how {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--see-how-txt);
            border-bottom: 1px solid var(--see-how-txt);
            width: fit-content;
            padding-block: 0 0.25rem;

            .desc {
                font-size: 0.75rem;
            }

            .icon {
                aspect-ratio: 1/1;
            }
        }
    }
}

/* ====== Testimonials ====== */
.testimonials {
    display: grid;
    gap: 1.5rem;
    place-content: center;
    position: relative;
    z-index: 1;
    color: var(--main-txt);

    .review {
        background-color: var(--test-bg);
        margin-inline: 3rem;
        padding: 1.5rem;
        border-radius: 0.25rem;
        display: grid;
        gap: 1.5rem;
        position: relative;
        box-shadow: 0 0 1.5rem -0.75rem var(--intro-sign-bg);

        & > .icon {
            max-width: 1.5rem;
            position: absolute;
            top: -1.1rem;
            left: 0.5rem;
            z-index: -1;
        }

        .desc {
            font-size: 0.625rem;
        }

        .avatar {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .icon {
                max-width: 1.5rem;
                border-radius: 100vw;
            }

            .info {

                .name {
                    font-size: 0.625rem;
                    font-weight: var(--fw-med);
                }

                .role {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

/* ====== Get early access ====== */
.get-ea {
    background-color: var(--intro-sign-bg);
    padding-block: 2.5rem 2rem;
    padding-inline: 1.5rem;
    margin-inline: 1.5rem;
    display: grid;
    gap: 2rem;
    color: var(--main-txt);
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem -0.75rem black;
    border-radius: 0.5rem;  
    position: relative;
    top: 11rem;

    .text {
        display: grid;
        gap: 1rem;

        .title {
            font-family: var(--ff-raleway);
            font-weight: var(--fw-med);
            font-size: calc(var(--base-fs) * 1.25);
        }

        .desc {
            font-size: var(--base-fs);
        }
    }

    .email-form {
        display: grid;
        gap: 1.5rem;

        .label {
            position: absolute;
            opacity: 0;
        }

        .input-box {
            display: grid;
            gap: 0.25rem;
        }

        #email {
            padding-block: 0.75rem;
            padding-inline-start: 1.5rem;
            border-radius: 100vw;
            border: none;
            outline: none;

            &::placeholder {
                font-size: 0.625rem;
                opacity: 0.5;
            }
        }

        .error {
            font-family: var(--ff-raleway);
            color: var(--error-txt);
            font-size: 0.625rem;
            display: none;
        }

        .get-started {
            background: var(--btn-grad);
            color: var(--main-txt);
            font-family: var(--ff-raleway);
            font-weight: var(--fw-med);
            font-size: var(--base-fs);
            border: none;
            padding-block: 0.75rem;
            border-radius: 100vw;
        }
    }
}

/* ====== Footer ====== */
.footer {
    padding-block: 15rem 2.5rem;
    padding-inline: 1.5rem;
    background-color: var(--footer-bg);
    color: var(--main-txt);
    display: grid;
    gap: 4rem;

    .header {
        display: grid;
        gap: 2.5rem;

        .logo {
            padding-inline: 1rem;
        }
        /* ====== More info ====== */
        .info {
            display: grid;
            gap: 1.5rem;

            .location,
            .phone,
            .mail {
                display: grid;
                grid-template-areas: "icon text";
                grid-template-columns: 1.5rem auto;

                .icon {
                    grid-area: icon;
                    margin-inline: auto;
                    margin-block: 0.25rem;
                }

                .desc {
                    grid-area: text;
                    margin-inline-start: 1rem;
                }
            }
        }
    }    

    /* ====== Redirect links ====== */
    .redirect {
        display: grid;
        gap: 3rem;

        ul {
            display: grid;
            gap: 1rem;
            padding: 0;

            li {
                list-style: none;
                
                a {
                    text-decoration: none;
                    color: var(--main-txt);
                }
            }
        }
    }

    /* ====== Social ====== */
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.75rem;
        
        div {
            width: 1.75rem;
            height: 1.75rem;
            border: 1px solid var(--main-txt);
            border-radius: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}