/* ====== Font families ====== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
  /* ====== Colors ====== */
  /* top nav, illustration and bottom sign up background */
  --intro-sign-bg: hsl(217, 28%, 15%);
  /* main background */
  --main-bg: hsl(218, 28%, 13%);
  /* footer background */
  --footer-bg: hsl(216, 53%, 9%);
  /* testimonials background */
  --test-bg: hsl(219, 30%, 18%);
  /* get-started-for-free button */
  --btn-grad: linear-gradient(90deg,
  hsl(176, 68%, 64%),
  hsl(198, 60%, 50%));
  /* "see how" color */
  --see-how-txt: hsl(176, 68%, 64%);
  /* email error text */
  --error-txt: hsl(0, 100%, 63%);
  /* whole text */
  --main-txt: hsl(0, 0%, 100%);
  /* ====== Fonts ====== */
  /* base font size for desktop view */
  --base-fs: 0.875rem;
  /* font family for body text */
  --ff-open-sans: "Open Sans", sans-serif;
  /* font family for headings, call-to-actions, header Navigation */
  --ff-raleway: "Raleway", sans-serif;
  /* fonts share the same weights */
  --fw-reg: 400;
  --fw-med: 700;
}

@media screen and (min-width: 1024px) {
  body {
    /* ======Navigation====== */
    /* ======Intro====== */
    /* ====== Features ====== */
    /* ====== Stay productive ====== */
    /* ====== Testimonials ====== */
    /* ====== Get early access ====== */
    /* ====== Footer ====== */
  }
  body .navigation {
    padding-block: 4.5rem;
    padding-inline: 5rem;
  }
  body .nav-logo {
    max-width: unset;
  }
  body .nav-options {
    gap: 3.5rem;
    font-size: 1rem;
  }
  body .intro {
    gap: 2rem;
  }
  body .intro .illustration {
    padding: unset;
  }
  body .intro .text {
    gap: 2rem;
    max-width: 45rem;
    padding-inline: 1rem;
  }
  body .intro .text .title {
    font-size: 2.5rem;
  }
  body .intro .text .desc {
    font-size: 1.25rem;
    padding-inline: 2.5rem;
  }
  body .intro .get-started {
    font-size: 1rem;
    padding-inline: 6rem;
    padding-block: 1rem;
  }
  body .intro .wave {
    position: absolute;
    bottom: -12rem;
    z-index: -1;
  }
  body .features {
    max-width: 60rem;
    margin-inline: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5.5rem;
    column-gap: 6rem;
    margin-block: 10rem;
  }
  body .features .access,
  body .features .security,
  body .features .real-time,
  body .features .store {
    display: grid;
    gap: 2rem;
  }
  body .features .access:nth-child(2) .icon,
  body .features .security:nth-child(2) .icon,
  body .features .real-time:nth-child(2) .icon,
  body .features .store:nth-child(2) .icon {
    max-width: unset;
  }
  body .features .access .icon,
  body .features .security .icon,
  body .features .real-time .icon,
  body .features .store .icon {
    max-width: unset;
    margin: auto auto;
  }
  body .features .access .text,
  body .features .security .text,
  body .features .real-time .text,
  body .features .store .text {
    display: grid;
    gap: unset;
  }
  body .features .access .text .title,
  body .features .security .text .title,
  body .features .real-time .text .title,
  body .features .store .text .title {
    font-family: var(--ff-raleway);
  }
  body .features .access .text .desc,
  body .features .security .text .desc,
  body .features .real-time .text .desc,
  body .features .store .text .desc {
    font-size: var(--base-fs);
  }
  body .stay-productive {
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    gap: 3.5rem;
  }
  body .stay-productive .illustration-productive {
    padding-inline: unset;
    margin-inline-start: auto;
  }
  body .stay-productive .text {
    margin-inline-end: 5rem;
  }
  body .stay-productive .text .title {
    margin-inline: unset;
    font-size: 2.5rem;
    margin-inline-end: 15rem;
  }
  body .stay-productive .text .desc-one,
  body .stay-productive .text .desc-two,
  body .stay-productive .text .see-how {
    font-size: 1rem;
    margin-inline-end: 9rem;
  }
  body .stay-productive .text .see-how .desc {
    font-size: unset;
  }
  body .testimonials {
    gap: 2.5rem;
    grid-template-columns: repeat(3, 22rem);
    padding-block: 0 5rem;
  }
  body .testimonials .review {
    margin-inline: unset;
    padding-top: 2rem;
  }
  body .testimonials .review > .icon {
    max-width: unset;
    top: -2.25rem;
    left: -0.5rem;
  }
  body .testimonials .review .desc {
    font-size: 0.875rem;
  }
  body .get-ea {
    max-width: 54rem;
    margin-inline: auto;
    padding-block: 2.5rem 1rem;
    padding-inline: 4.5rem;
    gap: 2.5rem;
    top: 7.5rem;
  }
  body .get-ea .text {
    gap: 1rem;
  }
  body .get-ea .text .title {
    font-size: 2rem;
  }
  body .get-ea .text .desc {
    padding-inline: 2rem;
  }
  body .get-ea .email-form {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 0.5fr;
  }
  body .get-ea .email-form #email {
    padding-inline-start: 2.5rem;
    grid-row: 1;
    grid-column: 1/2;
  }
  body .get-ea .email-form #email::placeholder {
    font-size: 0.75rem;
  }
  body .get-ea .email-form .error {
    grid-row: 2;
    color: var(--error-txt);
    font-size: 0.75rem;
    margin-inline: 2.5rem;
    padding-block: 0.25rem;
    text-align: left;
  }
  body .get-ea .email-form .get-started {
    font-size: 0.875rem;
    padding-inline: 2rem;
    width: fit-content;
  }
  body .footer {
    gap: 2rem;
    margin-inline: auto;
    place-content: center;
    padding-block: 12.5rem 5.5rem;
    /* ====== Redirect links ====== */
    /* ====== Social ====== */
  }
  body .footer .logo {
    padding-inline: unset;
  }
  body .footer .footer-content {
    display: flex;
    align-items: start;
    gap: 8.5rem;
    width: fit-content;
    /* ====== More info ====== */
  }
  body .footer .footer-content .info {
    display: flex;
    max-width: 40rem;
    gap: 5.5rem;
  }
  body .footer .redirect {
    display: flex;
    gap: 3rem;
  }
  body .footer .redirect ul {
    height: fit-content;
  }
  body .footer .social {
    gap: 1rem;
    font-size: 1rem;
  }
  body .footer .social div {
    width: 2rem;
    height: 2rem;
  }
}
body {
  font-family: var(--ff-open-sans);
  background-color: var(--intro-sign-bg);
}

.sr-title {
  position: absolute;
  opacity: 0;
}

/* ======Navigation====== */
.navigation {
  font-family: var(--ff-raleway);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav-logo {
  max-width: 5rem;
}

.nav-options {
  display: flex;
  gap: 1.5rem;
  font-size: 0.75rem;
}
.nav-options a {
  text-decoration: none;
  color: var(--main-txt);
}

/* ======Intro====== */
.intro {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--main-txt);
  gap: 2rem;
  background-image: url(images/bg-curvy-mobile.svg);
}
.intro .illustration {
  padding: 1.5rem;
}
.intro .text {
  display: grid;
  gap: 1rem;
  padding-inline: 1.5rem;
}
.intro .text .title {
  font-family: var(--ff-raleway);
}
.intro .text .desc {
  font-size: var(--base-fs);
  padding-inline: 1rem;
}
.intro .get-started {
  color: var(--main-txt);
  font-family: var(--ff-raleway);
  font-size: var(--base-fs);
  font-weight: var(--fw-med);
  background: var(--btn-grad);
  border: none;
  border-radius: 100vw;
  padding-inline: 5rem;
  padding-block: 0.75rem;
}
.intro .wave {
  width: 100%;
}
.intro .wave img {
  width: 100%;
}

/* ====== Content ====== */
.content {
  background-color: var(--main-bg);
}

/* ====== Features ====== */
.features {
  display: grid;
  color: var(--main-txt);
  text-align: center;
  gap: 5.5rem;
}
.features .access,
.features .security,
.features .real-time,
.features .store {
  display: grid;
  gap: 2rem;
  padding-inline: 1.75rem;
}
.features .access:nth-child(2) .icon,
.features .security:nth-child(2) .icon,
.features .real-time:nth-child(2) .icon,
.features .store:nth-child(2) .icon {
  max-width: 3.5rem;
}
.features .access .icon,
.features .security .icon,
.features .real-time .icon,
.features .store .icon {
  max-width: 4rem;
  margin-inline: auto;
}
.features .access .text,
.features .security .text,
.features .real-time .text,
.features .store .text {
  display: grid;
  gap: 1rem;
}
.features .access .text .title,
.features .security .text .title,
.features .real-time .text .title,
.features .store .text .title {
  font-family: var(--ff-raleway);
}
.features .access .text .desc,
.features .security .text .desc,
.features .real-time .text .desc,
.features .store .text .desc {
  font-size: var(--base-fs);
}

/* ====== Stay productive ====== */
.stay-productive {
  display: grid;
  place-items: center;
  row-gap: 2.5rem;
  color: var(--main-txt);
  padding-inline: 1.5rem;
  margin-block: 10rem;
}
.stay-productive .illustration-productive {
  padding-inline: 0.5rem;
}
.stay-productive .text {
  display: grid;
  row-gap: 1rem;
}
.stay-productive .text .title {
  font-family: var(--ff-raleway);
  margin-inline: 0.5rem;
}
.stay-productive .text .desc-one,
.stay-productive .text .desc-two,
.stay-productive .text .see-how {
  font-size: var(--base-fs);
}
.stay-productive .text .see-how {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--see-how-txt);
  border-bottom: 1px solid var(--see-how-txt);
  width: fit-content;
  padding-block: 0 0.25rem;
}
.stay-productive .text .see-how .desc {
  font-size: 0.75rem;
}
.stay-productive .text .see-how .icon {
  aspect-ratio: 1/1;
}

/* ====== Testimonials ====== */
.testimonials {
  display: grid;
  gap: 1.5rem;
  place-content: center;
  position: relative;
  z-index: 1;
  color: var(--main-txt);
}
.testimonials .review {
  background-color: var(--test-bg);
  margin-inline: 3rem;
  padding: 1.75rem;
  border-radius: 0.25rem;
  display: grid;
  gap: 1.5rem;
  position: relative;
  box-shadow: 0 0 1.5rem -0.75rem var(--intro-sign-bg);
}
.testimonials .review > .icon {
  max-width: 1.5rem;
  position: absolute;
  top: -1.1rem;
  left: 0.5rem;
  z-index: -1;
}
.testimonials .review .desc {
  font-size: 0.625rem;
}
.testimonials .review .avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.testimonials .review .avatar .icon {
  max-width: 1.5rem;
  border-radius: 100vw;
}
.testimonials .review .avatar .info .name {
  font-size: 0.625rem;
  font-weight: var(--fw-med);
}
.testimonials .review .avatar .info .role {
  font-size: 0.5rem;
}

/* ====== Get early access ====== */
.get-ea {
  background-color: var(--intro-sign-bg);
  padding-block: 2.5rem 2rem;
  padding-inline: 1.5rem;
  margin-inline: 1.5rem;
  display: grid;
  gap: 2rem;
  color: var(--main-txt);
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem -0.75rem black;
  border-radius: 0.5rem;
  position: relative;
  top: 11rem;
}
.get-ea .text {
  display: grid;
  gap: 1rem;
}
.get-ea .text .title {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-med);
  font-size: calc(var(--base-fs) * 1.25);
}
.get-ea .text .desc {
  font-size: var(--base-fs);
}
.get-ea .email-form {
  display: grid;
  grid-template-rows: 1fr 0.5fr 1fr;
}
.get-ea .email-form .label {
  position: absolute;
  opacity: 0;
}
.get-ea .email-form #email {
  padding-block: 0.75rem;
  padding-inline-start: 1.5rem;
  border-radius: 100vw;
  border: none;
  outline: none;
}
.get-ea .email-form #email::placeholder {
  font-size: 0.625rem;
  opacity: 0.5;
}
.get-ea .email-form .error {
  font-family: var(--ff-raleway);
  color: var(--error-txt);
  font-size: 0.625rem;
  visibility: hidden;
}
.get-ea .email-form .get-started {
  background: var(--btn-grad);
  color: var(--main-txt);
  font-family: var(--ff-raleway);
  font-weight: var(--fw-med);
  font-size: var(--base-fs);
  border: none;
  padding-block: 0.75rem;
  border-radius: 100vw;
}

/* ====== Footer ====== */
.footer {
  padding-block: 15rem 2.5rem;
  padding-inline: 1.5rem;
  background-color: var(--footer-bg);
  color: var(--main-txt);
  display: grid;
  gap: 3rem;
  /* ====== Redirect links ====== */
  /* ====== Social ====== */
}
.footer .logo {
  padding-inline: 1rem;
}
.footer .footer-content {
  display: grid;
  gap: 10rem;
  /* ====== More info ====== */
}
.footer .footer-content .info,
.footer .footer-content .phoneAndEmail {
  display: grid;
  gap: 1.5rem;
}
.footer .footer-content .info .location,
.footer .footer-content .info .phone,
.footer .footer-content .info .mail,
.footer .footer-content .phoneAndEmail .location,
.footer .footer-content .phoneAndEmail .phone,
.footer .footer-content .phoneAndEmail .mail {
  display: grid;
  grid-template-areas: "icon text";
  grid-template-columns: 1.5rem auto;
}
.footer .footer-content .info .location .icon,
.footer .footer-content .info .phone .icon,
.footer .footer-content .info .mail .icon,
.footer .footer-content .phoneAndEmail .location .icon,
.footer .footer-content .phoneAndEmail .phone .icon,
.footer .footer-content .phoneAndEmail .mail .icon {
  grid-area: icon;
  margin-inline: auto;
  margin-block: 0.25rem;
}
.footer .footer-content .info .location .desc,
.footer .footer-content .info .phone .desc,
.footer .footer-content .info .mail .desc,
.footer .footer-content .phoneAndEmail .location .desc,
.footer .footer-content .phoneAndEmail .phone .desc,
.footer .footer-content .phoneAndEmail .mail .desc {
  grid-area: text;
  margin-inline-start: 1rem;
}
.footer .redirect {
  display: grid;
  gap: 3rem;
}
.footer .redirect ul {
  display: grid;
  gap: 1rem;
  padding: 0;
}
.footer .redirect ul li {
  list-style: none;
}
.footer .redirect ul li a {
  text-decoration: none;
  color: var(--main-txt);
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.footer .social div {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--main-txt);
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */