@use "reset";
@use "customProperties";
@use "desktopView";

body {
    font-family: var(--ff-open-sans);
    background-color: var(--intro-sign-bg);
}

.sr-title {
    position: absolute;
    opacity: 0;
}

/* ======Navigation====== */
.navigation {
    font-family: var(--ff-raleway);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.nav-logo {
    max-width: 5rem;
}

.nav-options {
    display: flex;
    gap: 1.5rem;
    font-size: 0.75rem;

    a {
        text-decoration: none;
        color: var(--main-txt);
    }
}

/* ======Main====== */
.main-cont {
    margin-inline: 0;
}

/* ======Intro====== */
.intro {
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    color: var(--main-txt);
    gap: 2rem;
    background-image: url(images/bg-curvy-mobile.svg);
    padding-block: 1.5rem;

    .illustration {
        padding-inline: 1.5rem;
    }

    .text {
        display: grid;
        gap: 1rem;
        padding-inline: 1.5rem;

        .title {
            font-family: var(--ff-raleway);
        }

        .desc {
            font-size: var(--base-fs);
            padding-inline: 1rem;
        }
    }

    .get-started {
        color: var(--main-txt);
        font-family: var(--ff-raleway);
        font-size: var(--base-fs);
        font-weight: var(--fw-med);
        background: var(--btn-grad);
        border: none;
        border-radius: 100vw;
        padding-inline: 5rem;
        padding-block: 0.75rem;
    }

    .wave {
        width: 100%;

        img {
            width: 100%;
        }
    }
}