/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* === font === */
    --ff-open-sans: 'Open Sans', sans-serif;
    --fw-os-reg: 400;
    --fw-os-med: 700;
    /* headings, Call-to-actions, header navigation */
    --ff-raleway: 'Raleway', sans-serif;
    --fw-ral-reg: 400;
    --fw-ral-med: 700;
    --fs: 0.875rem;

    /* === color === */
    /* intro and email background */
    --light-bg: hsl(217, 28%, 15%);
    /* main background */
    --main-bg: hsl(218, 28%, 13%);
    /* footer background */
    --footer-bg: hsl(216, 53%, 9%);
    /* testimonials background */
    --review-bg: hsl(219, 30%, 18%);
    /* button gradient */
    --btn-grad: linear-gradient(90deg,
    hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    /* check fylo color */
    --check-txt: hsl(176, 68%, 64%);
    /* email error text */
    --error-txt: hsl(0, 100%, 63%);
    /* full white */
    --main-txt: hsl(0, 0%, 100%);
}

/* ====== Style ====== */
body {
  font-family: var(--ff-open-sans);
}

/* ====== Navigation bar ====== */
.navigation-bar {
  background-color: var(--light-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.logo {
  max-width: 5rem;
  height: 100%;
}

.nav-options {
  font-family: var(--ff-raleway);
  display: flex;
  gap: 1.5rem;
}

.nav-options a {
  color: var(--main-txt);
  text-decoration: none;
  font-size: 0.75rem;
}

/* ====== Main ====== */
.main-container {
  background-color: var(--light-bg);
}

.sr-title {
  color: var(--main-txt);
  position: absolute;
  opacity: 0;
}

/* ====== Intro ====== */
.illustration-intro {
  position: relative;
  padding-inline: 2rem;
  top: 2rem;
  z-index: 1;
  margin-inline: auto;
}

.wave-mobile {
  width: 100%;
}

.content {
  background-color: var(--main-bg);
  color: var(--main-txt);
  position: relative;
  z-index: 1;
}

/* ====== Get started ====== */
.start {
  position: relative;
  bottom: 4rem;
  text-align: center;
  padding-inline: 1rem;
}

.start-title {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-ral-med);
}

.start-description {
  padding: 1.5rem;
  font-size: 0.875rem;
}

.start-get-started {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-ral-med);
  font-size: 0.875rem;
  background: var(--btn-grad);
  color: var(--main-txt);
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 5rem;
}

/* ====== Features ====== */
.features {
  text-align: center;
  padding-inline: 1.75rem;
}

.features > div {
  padding-block: 2.5rem;
}

.features img {
  margin-inline: auto;
  max-width: 4rem;
}

.features h3 {
  font-family: var(--ff-raleway);
}

.features p {
  font-size: 0.875rem;
  padding-block: 0.5rem;
}

.features .security-icon {
  max-width: 3rem;
}

/* ====== Check ====== */
.check {
  padding-inline: 2rem;
  padding-block: 2rem;
}

.illustration-productive {
  padding-inline: 0.25rem;
  padding-block: 2.5rem;
  margin-inline: auto;
}

.check-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.check-title {
  font-size: 1rem;
  margin-inline-start: 0.5rem;
}

.check-desc-one,
.check-desc-two {
  font-size: 0.85rem;
}

.check-fylo {
  color: var(--check-txt);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
  border-bottom: 1px solid var(--check-txt);
  font-size: 0.75rem;
  width: fit-content;
}

.see-how {
  text-decoration: none;
  color: var(--check-txt);
}

.arrow-icon {
  height: 100%;
}

/* ====== Review ====== */
.review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 5rem 0;
}

.review-one,
.review-two,
.review-three {
  background-color: var(--review-bg);
  margin-inline: 3rem;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

.review-one {
  position: relative;
}

.quotes {
  max-width: 1.25rem;
  position: absolute;
  top: -0.875rem;
  left: 0.5rem;
  z-index: -1;
}

.review-text {
  font-size: 0.675rem;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar-icon {
  max-width: 1.5rem;
  height: 100%;
  border-radius: 2rem;
}

.avatar-name {
  font-weight: var(--fw-os-med);
  font-size: 0.625rem;
  letter-spacing: 0.05rem;
}

.avatar-role {
  font-size: 0.5rem;
}

/* ====== Early access ====== */
.ea {
  background-color: var(--light-bg);
  margin-inline: 1.25rem;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem -0.5rem black;
}

.ea-title {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-ral-med);
  font-size: 1.125rem;
}

.ea-desc {
  font-size: 0.875rem;
  margin-block: 1rem;
}

.email-form {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  padding-block: 0.5rem 0;
}

.email {
  position: absolute;
  opacity: 0;
}

#email,
.ea-button {
  width: 100%;
}

#email {
  font-size: 0.625rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  grid-row: 1;
}

#email::placeholder {
  opacity: 0.5;
}

.email-error {
  color: var(--error-txt);
  font-size: 0.75rem;
  margin-block: auto;
  grid-row: 2;
  display: none;
}

.ea-button {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-ral-med);
  font-size: 0.875rem;
  background: var(--btn-grad);
  color: var(--main-txt);
  border: none;
  border-radius: 2rem;
  grid-row: 3;
}

/* ====== Footer ====== */
.footer {
  background-color: var(--footer-bg);
  color: var(--main-txt);
}

.footer-logo {
  margin-inline: 2.5rem;
}

.fylo-info {
  padding: 2rem;
  margin-inline: 1rem;
}

.fylo-location,
.fylo-phone {
  padding: 1rem;
}

.fylo-location {
  list-style-image: url(images/icon-location.svg);
}

.fylo-phone {
  list-style-image: url(images/icon-phone.svg);
}